<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Rules & Factions</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle *ngFor="let ruleHead of rulesService.rules" autoHide="false">
            <ion-item color="transparent"
                      (click)="rulesService.navigate$.next(rulesService.indexesToRules[ruleHead.index])"
                      [style.border-left]="'5px solid ' + ruleHead.color" 
                      [style.border-bottom]="'1px solid ' + ruleHead.color">{{ ruleHead.name }}</ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
