<ion-header>
  <ion-toolbar>
    <ion-title>
      <span class="ion-hide-sm-down">{{ 'Modal.Maps.Title' | translate }}</span>
      <span class="ion-hide-md-up">{{ 'Modal.Maps.TitleShort' | translate }}</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        {{ 'Modal.Maps.CloseButton' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-row>
    <ion-col class="button-container" size-md="3" size-xs="6" size-sm="6" *ngFor="let map of ['fall', 'winter', 'lake', 'mountain']">
      <ion-button color="tertiary" [disabled]="activeMap === map" (click)="changeMap(map)">
        {{ ('Modal.Maps.MapNames.' + map) | translate }}
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-top">
    <ion-col class="map-container">
      <div class="relative-map-container">
        <img class="map" [src]="'assets/bigicon/map-' + activeMap + '.png'" />
  
        <img class="map-pin"
             [ngClass]="['pin' + (i + 1)]" 
             *ngFor="let suit of suits; let i = index" 
             [src]="'assets/bigicon/clearing-' + suit + '.png'"
             [style.left]="mapData[activeMap].clearingPositions[i][0] + 'px'"
             [style.top]="mapData[activeMap].clearingPositions[i][1] + 'px'" />

      </div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-top">
    <ion-col class="button-container">
      <ion-button (click)="randomize()">
        {{ 'Modal.Maps.Randomize' | translate }}
      </ion-button>
      <ion-button (click)="balanced()">
        {{ 'Modal.Maps.Balanced' | translate }}
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-top error-row">
    <ion-col class="ion-text-center">
      <span *ngIf="balancedError">{{ 'Modal.Maps.Error' | translate }}</span>
    </ion-col>
  </ion-row>

</ion-content>
