<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title *ngIf="!showSearch">
      <span class="title-container">
        <span class="title-text ion-hide-sm-down">The Law Of</span>
        <img class="title-logo" src="assets/logo.png" />
      </span> 
    </ion-title>

    <ion-searchbar *ngIf="showSearch" 
                   color="primary"
                   showCancelButton="true"
                   (ionCancel)="setSearchValue(null)"
                   (ionClear)="setSearchValue(null)"
                   (ionChange)="setSearchValue($event.detail.value)"
                   placeholder="Search Rules"></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="openFAQ()">
        <ion-icon name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scrollEvents="true" (ionScroll)="scroll($event)">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showScrollUp">
    <ion-fab-button size="small" color="primary" translucent="true" (click)="scrollToEl('#top')">
      <ion-icon name="arrow-round-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="top"></div>

  <div *ngFor="let rule of rulesService.rules" class="rule-container major" [style.border-color]="rule.color">

    <!-- no text or pretext at this level -->

    <div class="rule major" [id]="rulesService.indexesToRules[rule.index]">
      <span class="index major">{{ rule.index }}</span> 
      <a [innerHTML]="rule.name | highlight:searchTerm:rule.index"
         [href]="'#' + rulesService.indexesToRules[rule.index]"></a>
    </div>

    <div *ngFor="let childRule of rule.children" class="rule-container minor">

      <!-- no text at this level -->

      <div class="rule minor" [id]="rulesService.indexesToRules[childRule.index]">
        <span class="index minor">{{ childRule.index }}</span> 
        <a [innerHTML]="childRule.name | highlight:searchTerm" 
           [href]="'#' + rulesService.indexesToRules[childRule.index]"></a>
      </div>

      <div class="pretext" [innerHTML]="childRule.pretext | highlight:searchTerm"></div>

      <div *ngFor="let grandchildRule of childRule.children" class="rule-container child">
    
        <!-- no pretext at this level -->
  
        <div class="rule child" [id]="rulesService.indexesToRules[grandchildRule.index]">
          <span class="index child">{{ grandchildRule.index }}</span> 
          <span class="desc child">
            <a class="name child" [innerHTML]="grandchildRule.name | highlight:searchTerm"
                                  [href]="'#' + rulesService.indexesToRules[grandchildRule.index]"></a>
            <span class="text child" [innerHTML]="grandchildRule.text | highlight:searchTerm"></span>

            <!-- please never go deeper -->
            <ol class="romanized-list list" *ngIf="grandchildRule.subchildren">
              <li *ngFor="let descRule of grandchildRule.subchildren">
                <a class="name child"    [id]="rulesService.indexesToRules[descRule.index]" 
                                         [innerHTML]="descRule.name | highlight:searchTerm"
                                         [href]="'#' + rulesService.indexesToRules[descRule.index]"></a>
                <span class="text child" [innerHTML]="descRule.text | highlight:searchTerm"></span>

                <!-- I said please :( -->
                <ol class="alphabeta-list list sublist" *ngIf="descRule.subchildren">
                  <li *ngFor="let descDescRule of descRule.subchildren">
                    <a class="name child"    [id]="rulesService.indexesToRules[descDescRule.index]" 
                                             [innerHTML]="descDescRule.name | highlight:searchTerm"
                                             [href]="'#' + rulesService.indexesToRules[descDescRule.index]">{{ descDescRule.name }}</a>
                    <span class="text child" [innerHTML]="descDescRule.text | highlight:searchTerm"></span>
                  </li>
                </ol>
              </li>
            </ol>
          </span>
        </div>
  
      </div>

    </div>

  </div>
</ion-content>
